@keyframes head_img_anim{
    from {
        width: 50px;
    }

    to {
        width: 60px;
    }
 
}

@keyframes head_li_anim{
    from {
        color: black;
        border-color: black;
        width: 100%;
    }

    to {
        color: blue;
        border-color: blue;
        width: 120%;
    }

}

@keyframes head_li_selected_anim{
    from {
        width: 100%;
    }

    to {
        width: 120%;
    }

}

@keyframes body_content_menu_anim{
    from {
        color: black;
        background-color: white;
        box-shadow: none;
    }

    to {
        color: white;
        background-color: black;
        padding: 5px 15px 5px 15px;
        box-shadow: 0 0 30px 2px rgb(65, 65, 65);
    }

}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #071b3c;
}

#footer{
    clear: both;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0 5px 0;
}

#container
{
    height: 100%;
    min-width: 900px;
    max-width: 1200px;
    margin: 10px auto;
}

#header_main{
    height: 270px;
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
    border-radius: 15px;
}

#head_content{
    height: 266px;
    width: 69%;
    float: left;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#head_content p{
    padding: 5px 20px 5px 20px;
    text-align: justify;
}

#head_content .section_biography p{
    text-indent: 30px;
}

#head_content section.section_formation{
    width: 70%;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-left: 30px;
    border-bottom: 2px solid lightblue;
}

#head_content section#section_last{
    width: 70%;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-left: 30px;
    border: none;
}

#head_content .course_title{
    margin-left: 30px;
    color: rgb(87, 98, 255);
    font-weight: bold;
}

#head_content .institution{
    margin: 0;
    padding: 0;
    margin-left: 70px;
    margin-bottom: 5px;
    color: green;
    font-weight: bold;
}

#head_content .conclusion{
    color: gray;
    font-weight: 500;
    margin-left: 50px;
}

#head_about_me{
    height: 270px;
    width: 20%;
    float: left;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#head_about_me img{
    width: 50px;
}

#head_about_me img.img_anim_bigger:hover{
    animation-name: head_img_anim;
    animation-duration: 0.5s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

#head_about_me img#perfil{
    display: block;
    margin-left: 50%;
    width: 150px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    margin-bottom: 15px;

    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

#head_about_me p{
    margin-bottom: 15px;
}

#head_about_me a{
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

#head_menu{
    height: 266px;
    width: 10%;
    float: left;
}

#head_menu .head_menu_selected{
    color: blue;
    border-color: blue;
}

#head_menu .head_menu_selected:hover{
    animation-name: head_li_selected_anim;
    animation-duration: 0.5s;
}

#head_menu ul{
    list-style: none;
    margin-top: 15px;
    padding: 0;
}

#head_menu li{
    padding: 10px 2px 10px 2px;
    margin-bottom: 5px;
    text-align: center;
    border-bottom: 2px solid black;
    border-radius: 8px;
}

#head_menu li:hover{
    animation-name: head_li_anim;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

#head_menu a{
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

#body_content{
    margin-top: 15px;
    background: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#body_content header{
}

#body_content_header_left{
    padding: 20px;
    float: left;
}

#body_content_header_left ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#body_content_header_left li{
    display: inline;
    padding: 0px 15px 0px 15px;
    border-right: 2px solid black;
}

#body_content_header_left .body_menu_selected{
    color: #00e7ff;
    background-color: black;
    padding: 5px 15px 5px 15px;
    border-radius: 40px;
    box-shadow: -2px 2px 5px 1px gray;
}

#body_content_header_left a{
    color: black;
    text-decoration: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#body_content_header_left a:hover{
    border-radius: 40px;
    animation-name: body_content_menu_anim;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

#body_content_header_left #list_end{
    border: none;
}

#body_content_header_right{
    float: right;
    padding: 10px 15px;
}

#body_content_header_right select{
    appearance: none;
    margin: 0;
    text-align: center;
}

#body_content_header_right select:hover{

}

#body_content_container{
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}

#body_content_footer{
    text-align: right;
    clear: both;
}

#post_container_end{
    margin:0;
}

.centralize{
    display: flex;
    justify-content: center;
}

.div_centralize{
    display: flex;
    justify-content: center;
}

.clear{
    clear: both;
}

.post_container{
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    border: 2px solid dodgerblue;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: -5px 5px 5px darkgrey;
}

.post_header .post_title{
    width: 80%;
    position: relative;
    margin: auto;
    text-align: center;
    float: left;
    left: 10%;
}

.post_header .post_title h1{
    margin: 0;
    padding: 0;
    font-size: 22px;
}

.post_header .post_author{
    text-align: center;
    float: right;
}

.post_header .post_author h2{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.post_content{
    margin: 20px 30px 20px 30px;
    border-top: 1px solid gray;
    padding: 15px 0 0 0;
    clear: both;
    text-align: left;
}

.collapsed{
    height: 150px;
    overflow: hidden;
}

.expanded{
    height: fit-content;
    overflow: visible;
}

.post_content h1{
    font-size: 22px;
    margin-bottom: 15px;
}

.post_content h2{
    font-size: 18px;
    margin-bottom: 15px;
}

.post_content h3{
    font-size: 18px;
    margin-bottom: 15px;
}

.post_content p{
    text-indent: 30px;
    text-align: justify;
}

.post_content .break_top{
    margin-top: 15px;
}

.post_content .break_bottom{
    margin-bottom: 15px;
}

.post_content ol{
    margin: 15px;
}

.post_content .post_img_default_center{
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post_content .post_img_default2x_center{
    width: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post_content .post_img_default_left{
    width: 100px;
    margin-top: 15px;
}

.post_content legend{
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.link_default{
    text-decoration: none;
    color: darkslategray;
    font-weight: bold;
    cursor: pointer;
}

.link_default:hover{
    color: blue;
}

.post_content_bottom{
    border-bottom: 1px solid gray;
    display: block;
    text-align: center;
    margin: 0 30px 20px 30px;
    width: 95%;
}

.post_content img.img_centralize{
    display: block;
    width: 100px;
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post_footer .post_footer_left{
    float: left;
}

.post_footer .post_footer_right{
    float: right;
}

.project_container{
    margin-bottom: 20px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
    width: 40%;
    min-width: 460px;
    border: 2px solid blueviolet;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: -5px 5px 5px darkgrey;
    display: inline-block;
}

.project_header{
    font-weight: bold;
    text-align: left;
}

.project_content{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.project_description{
    margin-bottom: 20px;
}

.project_content_roadmap{
    margin-bottom: 20px;
}

.project_content_roadmap a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 2px;
    background-color: rgb(0, 217, 255);
    border-radius: 25%;
}

.project_content_roadmap a:hover{
    color: rgb(0, 0, 0);
}

.project_footer{

}

.project_footer_left{
    width: 40%;
    float: left;
}

.project_footer_right{
    width: 40%;
    float: right;
}

.text_color_red{
    color: red;
}

.pea_container{
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    border: 2px solid forestgreen;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: -5px 5px 5px darkgrey;
}