@keyframes head_img_anim{
    from {
        width: 50px;
    }

    to {
        width: 60px;
    }
 
}

@keyframes head_li_anim{
    from {
        color: black;
        border-color: black;
        width: 100%;
    }

    to {
        color: blue;
        border-color: blue;
        width: 120%;
    }

}

@keyframes head_li_selected_anim{
    from {
        width: 100%;
    }

    to {
        width: 120%;
    }

}

@keyframes body_content_menu_anim{
    from {
        color: black;
        background-color: white;
        box-shadow: none;
        padding: 0 15px 0 15px;
    }

    to {
        color: white;
        background-color: black;
        padding: 5px 15px 5px 15px;
        box-shadow: 0 0 30px 5px rgb(65, 65, 65);
    }

}

body{
    background-color: #dddddd;
}

footer{
    clear: both;
}

#container
{
    height: 100%;
    min-width: 900px;
    max-width: 1200px;
    margin: 10px auto;
}

#header_main{
    height: 270px;
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
}

#head_content{
    height: 266px;
    width: 69%;
    float: left;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#head_content p{
    padding: 5px 20px 5px 20px;
    text-indent: 30px;
    text-align: justify;
}

#head_about_me{
    height: 270px;
    width: 20%;
    float: left;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#head_about_me img{
    width: 50px;
    display: inline;
}

#head_about_me img.img_anim_bigger:hover{
    animation-name: head_img_anim;
    animation-duration: 0.5s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

#head_about_me img#perfil{
    display: block;
    margin-left: 50%;
    width: 150px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;

    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

#head_about_me a{
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

#head_menu{
    height: 266px;
    width: 10%;
    float: left;
}

#head_menu #head_menu_selected{
    color: blue;
    border-color: blue;
}

#head_menu #head_menu_selected:hover{
    animation-name: head_li_selected_anim;
    animation-duration: 0.5s;
}

#head_menu ul{
    list-style: none;
    margin-top: 15px;
    padding: 0;
}

#head_menu li{
    padding: 10px 2px 10px 2px;
    margin-bottom: 5px;
    text-align: center;
    border-bottom: 2px solid black;
    border-radius: 8px;
}

#head_menu li:hover{
    animation-name: head_li_anim;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

#head_menu a{
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

#body_content{
    margin-top: 15px;
    background: white;
}

#body_content_header_left{
    padding: 20px;
    float: left;
}

#body_content_header_left ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#body_content_header_left li{
    display: inline;
    padding: 0 15px 0 15px;
    border-right: 2px solid black;
}

#body_content_header_left a{
    color: black;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#body_content_header_left a:hover{
    border-radius: 40px;
    animation-name: body_content_menu_anim;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

#body_content_header_left #list_end{
    border: none;
}

#body_content_header_right{
    float: right;
}

#body_content_post{
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
}

#body_content_footer{
    text-align: right;
}

#post_container_end{
    margin:0;
}

.centralize{
    display: flex;
    justify-content: center;
}

.div_centralize{
    display: flex;
    justify-content: center;
}

.clear{
    clear: both;
}

.post_container{
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
}

.post_header .post_title{
    width: 80%;
    position: relative;
    margin: auto;
    text-align: center;
    float: left;
    left: 10%;
}

.post_header .post_title h1{
    margin: 0;
    padding: 0;
    font-size: 22px;
}

.post_header .post_author{
    text-align: center;
    float: right;
}

.post_header .post_author h2{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.post_content{
    margin: 20px 30px 20px 30px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 15px 0 15px 0;
    clear: both;
}

.post_content img.img_centralize{
    display: block;
    width: 100px;
    border: 1px solid black;
    margin: auto;
}

.post_footer .post_footer_left{
    float: left;
}

.post_footer .post_footer_right{
    float: right;
}