<article class="post_container">

    <header class="post_header"> 
        
        <div class="post_title">
            <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h1>
        </div>

        <div class="post_author">
            <h2>Autor: Rangel</h2>
        </div>

    </header>

    <section class="post_content collapsed">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, vel eos soluta commodi autem veritatis unde aspernatur obcaecati sit neque tempore? Adipisci optio similique distinctio. Sapiente harum eligendi possimus consectetur!
    </section>

    <section class="post_content_bottom">
        <a class="link_default link_read_more" onclick="read_more(this)">Ler mais</a>
    </section>

    <footer class="post_footer">

        <div class="post_footer_left">
            Criado em: <time>xx/xx/xxxx xx:xx</time>
        </div>

        <div class="post_footer_right">
            Última atualização: <time>xx/xx/xxxx xx:xx</time>
        </div>

        <div class="clear"></div>

    </footer>

</article>