<section class="project_container">

    <header class="project_header">
        <p>Título</p>
    </header>

    <main class="project_content">

        <section class="project_description">
            <p>Descrição</p>
        </section>

        <section class="project_content_roadmap">
            <p>Roadmap</p>
            <a href="#">Trello</a>
        </section>

        <section class="project_content_link">
            <a href="#" class="link_default">Link do projeto</a>
        </section>

    </main>

    <footer class="project_footer">

        <section class="project_footer_left">
            <p>Índice de conclusão: xx%</p>
        </section>

        <section class="project_footer_right">
            <p>Data de início: <time>xx/xx/xxxx</time></p>
        </section>

    </footer>

</section>